
<html>
<head>
		{% block meta %}
	    {% include ('meta.twig') %}
	  {% endblock %}
	<title>Edition/Suppression</title>
</head>
    <body id="page-top">
			{% block navbar %}
				{% include ('navbar.twig') %}
			{% endblock %}
			<header class="masthead bg-primary text-white text-center">
				<div class="container">
        <h1>Remplir les champs</h1>
			{% block listblog %}
					 <div class="row">
				{% for blogs in blog %}
				<div class="col-12 col-sm-6 col-lg-4 offset-4">
			        <form name="edit-blog-{{ blogs.idBlog }}" method="post" action="checkEdit">
								<p>
									Blog numéro : {{ blogs.idBlog }} <br/>
						      Entrez le titre : <input type="text" name="titre" size="20" value="{{ blogs.Titre }}"/> <br/>
						      Entrez le chapo : <input type="text" name="chapo" size="20" value="{{ blogs.Chapo }}"/> <br/>
									Entrez le contenu : <input type="text" name="contenu" size="80" value="{{ blogs.Contenu }}"/> <br/>
									Entrez l'image associée : <input type="text" name="image" value="{{ blogs.image }}"/><br/>
									<input type="hidden" name="idBlog" value="{{ blogs.idBlog }}"/>
									<input type="hidden" name="type" value="editblog"/>
			            <input type="submit" name="valider" value="Editer"/>
								</p>
			        </form>
							</div>
							<div class="col-12 col-sm-6 col-lg-4 offset-4">
							  <form name="delete" method="post" action="deleteBlog">
									Ecrire EFFACER pour supprimer: <input type="text" name="Validation" size="20" /> <br/>
									<input type="hidden" name="idBlog" value="{{ blogs.idBlog }}"/><br/>
									<input type="hidden" name="type" value="deleteblog"/>
			            <input type="submit" name="valider" value="Supprimer"/>
				        </form>
							</div>
			  {% endfor %}
			{% endblock  %}
</div>
</header>
<footer class="footer text-center">
	<div class="container">
<div class="row">
		{% block footer %}
			{% include ('footer.twig') %}
		{% endblock %}
	</div>
</div>
	</footer>
    </body>
</html>
