<html lang="en">
<head>
  {% block meta %}
    {% include ('meta.twig') %}
  {% endblock %}
<title>Portfolio</title>
</head>
  <body id="page-top">
    <!-- Navigation -->
    {% block navbar %}
      {% include ('navbar.twig') %}
    {% endblock %}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="asset/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Robin Campino , enchanté de vous connaitre </h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Web Developer</h2>
      </div>
    </header>
    <!-- Portfolio Grid Section -->
  {% block listblog %}
       <section class="portfolio" id="portfolio">
          <div class="container">
              <h2 class="text-center text-uppercase text-secondary mb-0">Mes Projets</h2>
              <hr class="star-dark mb-5">
              <div class="row">
                  {% for blogs in blog %}
                  <div class="col-md-6 col-lg-4">
                      <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-{{ blogs.idBlog }}">
                          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                  <i class="fas fa-search-plus fa-3x"></i>
                              </div>
                          </div>
                          <img class="img-fluid" src="{{ blogs.Image }}" alt="">
                      </a>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </section>
    {% endblock %}
  <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Qui suis je ?</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Strasbourgeois exilé en Bretagne, je suis un jeune développeur cherchant à acquérir toujours plus de compétences dans le domaine numérique. </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Freelancer depuis 1 ans , j'ai été amené à travaillé sur divers projets</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="asset/img/profile.png" download="profile">
            <i class="fas fa-download mr-2"></i>
            Mon Cv
          </a>
      </div>
      </div>
    </section>
    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Me contacter</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Nom</label>
                  <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Saisir votre nom">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Adresse Email</label>
                  <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Saisir votre adresse mail">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Téléphone</label>
                  <input class="form-control" id="phone" type="tel" placeholder="Téléphone" required="required" data-validation-required-message="Saisir votre numéro de téléphone">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Message</label>
                  <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="rédiger votre message"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
    <div class="row">
        {% block footer %}
          {% include ('footer.twig') %}
        {% endblock %}
      </div>
    </div>
      </footer>
      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Your Website 2018</small>
        </div>
      </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <!-- Portfolio Modals -->
    <!-- Portfolio Modal motor -->
    {% block modal %}
      {% for blogs in blog %}
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-{{ blogs.idBlog }}">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h1 class="text-secondary text-uppercase mb-0">{{ blogs.Titre }}</h1>
                <hr class="star-dark mb-5">
        <h2 class="text-secondary text-uppercase mb-0">{{blogs.Chapo }}</h2>
                <img class="img-fluid mb-5" src="{{ blogs.image }}" alt="">
                <p class="mb-10">{{ blogs.Contenu }}</p>
         <div class="col-md-12 comspace">Espace commentaire<br/>
             <!-- Comment-->
             {% for coms in com %}
              {% if coms.idBlog == blogs.idBlog %}
               {% for users in user %}
                {% if users.idUser == coms.idUser %}
                  <div class="row comspace">
                <div class="col-md-3">De {{ users.nom }}  {{ users.prenom }} le {{ coms.DateCom }} </div>
                <div class="col-md-9">{{ coms.TextCom }}</div>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
          <!-- add comment by visitor -->
          {% if security == 1 or security == 2 %}
             <form name="addcomment" method="post" action="checkComment">
            Saississez votre commentaire <br/>
            <textarea name="comContent" rows="10" cols="30"></textarea>
            <input type="hidden" name="id_Blog" value="{{ blogs.idBlog }}"/><br/>
            <input type="submit" name="valider" value="Commenter"/>
          </form>
         {% endif %}
      {% endfor %}
             </div>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Fermer le projet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="asset/vendor/jquery/jquery.min.js"></script>
    <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="asset/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="asset/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="asset/js/jqBootstrapValidation.js"></script>
    <script src="asset/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="asset/js/freelancer.min.js"></script>
  </body>
</html>
